# Testing
pytest~=8.0
pytest-django~=4.8
pytest-cov~=4.1
pytest-asyncio~=0.24
pytest-mock~=3.12
pytest-factoryboy~=2.5
factory-boy~=3.3
coverage~=7.4

# Development tools
black~=26.1
flake8~=7.3
isort~=8.0

# live reload
watchfiles~=1.1
uvicorn~=0.41

# Include production requirements
-r requirements.txt
